Repository StavLobel/whats-the-chance-game: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run type-check
  language: system
  pass_filenames: false

Add TDD tests for Friend ID system - Issue #40
  backend/app/routers/friends.py
  backend/tests/unit/test_friend_id_api.py
  src/components/friends/__tests__/AddFriendModalFriendId.test.tsx
  src/components/friends/__tests__/FriendIdDisplay.test.tsx
  src/components/friends/__tests__/FriendIdQRCode.test.tsx
  src/components/profile/FriendIdDisplay.tsx
  src/components/profile/QRCodeDisplay.tsx
  src/hooks/__tests__/useFriendId.test.ts
  src/hooks/useUniqueId.ts
  src/lib/__tests__/friendIdApiService.test.ts
  src/lib/uniqueIdApiService.ts
  tests/e2e/friend-id-workflow.spec.ts
Due: eslint, prettier, typescript

Implement Friend ID UI improvements - Complete Issue #40
  src/components/friends/AddFriendModal.tsx
  src/components/profile/FriendIdDisplay.tsx
  src/components/profile/QRCodeDisplay.tsx
  src/components/profile/index.ts
  src/hooks/useFriendId.ts
  src/lib/friendIdApiService.ts
  src/pages/Game.tsx
Due: eslint, prettier, typescript

✨ Complete Friend ID UI Improvements - Issue #40 Phase 2 (#42)
  backend/app/routers/friends.py
  backend/tests/unit/test_friend_id_api.py
  src/components/friends/AddFriendModal.tsx
  src/components/friends/__tests__/AddFriendModalFriendId.test.tsx
  src/components/friends/__tests__/FriendIdDisplay.test.tsx
  src/components/friends/__tests__/FriendIdQRCode.test.tsx
  src/components/profile/FriendIdDisplay.tsx
  src/components/profile/QRCodeDisplay.tsx
  src/components/profile/index.ts
  src/hooks/__tests__/useFriendId.test.ts
  src/hooks/useFriendId.ts
  src/hooks/useUniqueId.ts
  src/lib/__tests__/friendIdApiService.test.ts
  src/lib/friendIdApiService.ts
  src/lib/uniqueIdApiService.ts
  src/pages/Game.tsx
  tests/e2e/friend-id-workflow.spec.ts
Due: eslint, prettier, typescript

🔧 Fix Friend ID API response handling and add enhanced debugging
  backend/app/routers/friends.py
  src/lib/friendIdApiService.ts
Due: eslint, prettier, typescript

✅ Add comprehensive E2E test for friend request flow
  tests/e2e/friend-request-flow.spec.ts
Due: eslint, prettier, typescript

🐛 Fix Bug #46: Friend requests not displaying for recipients
  backend/app/routers/friends.py
Due: none

Fix friend request testing and debugging improvements
  backend/app/schemas/friends.py
  backend/app/services/firebase_service.py
  backend/app/services/friends_service.py
  backend/main.py
  src/components/friends/__tests__/FriendIdDisplay.render.test.tsx
  src/components/profile/FriendIdDisplay.tsx
  src/hooks/useGame.tsx
  src/lib/__tests__/friendIdApiService.integration.test.ts
  src/lib/friendIdApiService.ts
  src/lib/friendsApiService.ts
  src/pages/Game.tsx
  tests/e2e/friend-id-workflow.spec.ts
  tests/e2e/friend-request-flow.spec.ts
  tests/e2e/friends-search.spec.ts
Due: eslint, prettier, typescript

✅ Fix Issue #46: Friend request lifecycle E2E test improvements
  tests/e2e/friend-request-flow.spec.ts
Due: eslint, prettier, typescript

✅ Complete Issue #48: Storage Abstraction Pattern Implementation
  SENIOR_REVIEW.md
  backend/app/routers/friends.py
  backend/app/services/friends_service.py
  bug49-test-error.png
  manual-test-bug49.js
  src/components/CreateChallengeModal.tsx
  src/domain/ports/IStorage.ts
  src/hooks/useGame.tsx
  src/infrastructure/storage/LocalStorageImpl.ts
  src/infrastructure/storage/MemoryStorageImpl.ts
  src/infrastructure/storage/StorageFactory.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/storage.config.ts
  tests/e2e/utils/storage-helpers.ts
  tests/e2e/utils/test-helpers.ts
Due: eslint, prettier, typescript

🚀 Implement comprehensive GitHub Actions workflows for all test suites
  .github/workflows/README.md
  .github/workflows/backend-unit-tests.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-unit-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/main-testing-workflow.yml
  .github/workflows/security-audit-tests.yml
  backend/app/routers/users.py
  backend/main.py
  documentation/STP.md
  src/components/ChallengeCard.tsx
  src/components/ChallengeDetail.tsx
  src/hooks/__tests__/useUserDisplay.test.ts
  src/hooks/useUserDisplay.ts
  src/lib/__tests__/userLookupService.test.ts
  src/lib/userLookupService.ts
Due: eslint, prettier, typescript

✅ Fix issue #50: Challenge activity shows usernames instead of user IDs
  backend/app/routers/users.py
  backend/app/services/firebase_service.py
  backend/tests/unit/test_users_api.py
  src/components/__tests__/ChallengeCard.test.tsx
  src/hooks/__tests__/useUserDisplay.test.tsx
  src/lib/__tests__/userLookupService.test.ts
  src/lib/userLookupService.ts
Due: eslint, prettier, typescript

✅ Complete Authentication-Based Route Protection - Closes #45
  src/App.tsx
  src/components/auth/PublicRoute.tsx
  src/pages/Landing.tsx
  tests/e2e/authentication-routing.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/pages/HomePage.ts
Due: eslint, prettier, typescript

🔧 Fix indentation error in users.py
  backend/app/routers/users.py
Due: none

🔧 Fix backend unit test issues for Issues #53, #54, #55
  backend/tests/conftest.py
  backend/tests/unit/test_friend_id_api.py
Due: none

🔧 Fix backend unit tests workflow environment variables
  .github/workflows/backend-unit-tests.yml
Due: none

🔥 Add Firebase credentials setup to backend unit tests workflow
  .github/workflows/backend-unit-tests.yml
Due: none

🗑️ Simplify database setup - use production database for tests
  .github/workflows/backend-unit-tests.yml
Due: none

🐛 Fix user profile display in sidebar - Closes #44
  src/components/Sidebar.tsx
Due: eslint, prettier, typescript

🐛 Fix Friend ID API test failures - Issue #63
  backend/app/core/auth.py
  backend/app/routers/friends.py
Due: none

🐛 Fix Friend ID API test - make test async
  backend/tests/unit/test_friend_id_api.py
Due: none

🐛 Fix pytest async support - enable asyncio mode
  backend/pytest.ini
Due: none

🐛 Fix pytest-asyncio configuration for async tests
  backend/requirements.txt
Due: none

🔍 Add debug steps for pytest-asyncio investigation
  .github/workflows/backend-unit-tests.yml
Due: none

🐛 Fix async test decorators for pytest-asyncio
  backend/tests/unit/test_friend_id_api.py
Due: none

🔧 Fix async test client - Replace TestClient with httpx.AsyncClient
  backend/tests/unit/test_friend_id_api.py
Due: none

🔧 Fix async test fixtures - Convert to pytest fixtures
  backend/tests/unit/test_friend_id_api.py
Due: none

🧪 Improve Friend ID tests with real user integration
  backend/tests/unit/test_friend_id_api.py
Due: none

🔧 Fix pytest fixture issues in Friend ID tests
  backend/tests/unit/test_friend_id_api.py
Due: none

🔧 Fix async teardown methods in Friend ID tests
  backend/tests/unit/test_friend_id_api.py
Due: none

🔧 Fix backend unit tests CI configuration
  .github/workflows/backend-unit-tests.yml
  backend/pytest.ini
  backend/requirements.txt
Due: none

🐳 Implement Redis Docker containerization - Closes #66
  DOCKER_SETUP.md
  backend/README.md
  backend/app/services/redis_service.py
  backend/main.py
  docker-compose.dev.yml
  docker-compose.yml
  friend_id_logs.txt
Due: prettier

🐳 Update E2E tests workflow to use Docker containers
  .github/workflows/e2e-tests.yml
Due: none

Force update e2e-tests.yml workflow
  .github/workflows/e2e-tests.yml
Due: none

Update e2e-tests.yml workflow configuration
  .github/workflows/e2e-tests.yml
Due: none

Fix e2e-tests.yml workflow syntax and structure
  .github/workflows/e2e-tests.yml
Due: none

🔧 Fix E2E workflow critical issues
  .github/workflows/e2e-tests.yml
Due: none

🔧 Fix Playwright command line argument
  .github/workflows/e2e-tests.yml
Due: none

🔧 Fix Playwright configuration for Docker-based E2E testing
  playwright.config.ts
Due: eslint, prettier, typescript

🔧 Fix regex pattern error in E2E test glob
  .github/workflows/e2e-tests.yml
Due: none

🔧 Simplify E2E test execution to avoid regex issues
  .github/workflows/e2e-tests.yml
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: ^(node_modules/|dist/|build/)
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^(node_modules/|dist/|build/|package-lock\.json)
  typescript: any of: \.(ts|tsx)$, but not: ^(node_modules/|dist/|build/)
