Repository StavLobel/whats-the-chance-game: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run type-check
  language: system
  pass_filenames: false

style: apply automatic formatting fixes via pre-commit hooks
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .pre-commit-config.yaml
  .prettierignore
  Dockerfile.frontend
  FIREBASE_SETUP_COMPLETE.md
  README.md
  backend/.gitignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/TEST_CHALLENGES.md
  backend/TEST_USERS.md
  backend/app/routers/challenges.py
  backend/entrypoint.sh
  backend/env.example
  backend/pyproject.toml
  backend/pytest.ini
  backend/requirements.txt
  dev-container.sh
  docker-compose.dev.yml
  documentation/SRD.md
  documentation/TASKS.md
  env.example
  firestore.rules
  public/placeholder.svg
  setup-firebase.sh
  src/components/ChallengeDetail.tsx
  src/components/CreateChallengeModal.tsx
  src/components/EmptyState.tsx
  src/components/ErrorState.tsx
  src/components/LoadingState.tsx
  src/hooks/useGame.ts
  src/pages/Game.tsx
  src/test/game-service.test.ts
Due: eslint, prettier, typescript

fix: make CI workflow more robust with auto-fixing
  .github/workflows/ci.yml
Due: none

fix: major linting improvements - establish clean baseline codebase
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/routers/__init__.py
  backend/app/routers/challenges.py
  backend/app/routers/game_stats.py
  backend/app/routers/notifications.py
  backend/app/schemas/__init__.py
  backend/app/schemas/challenge.py
  backend/app/schemas/game_stats.py
  backend/app/schemas/notification.py
  backend/app/schemas/user.py
  backend/app/services/firebase_service.py
  backend/app/services/game_stats_service.py
  backend/create_test_challenges.py
  backend/create_test_challenges_api.py
  backend/import_test_challenges.py
  backend/main.py
  backend/tests/unit/test_challenge_validation.py
  backend/tests/unit/test_firebase_service.py
  backend/tests/unit/test_game_stats.py
  backend/tests/unit/test_models.py
  src/components/ChallengeDetail.tsx
  src/components/CreateChallengeModal.tsx
  src/components/ui/calendar.tsx
  src/components/ui/chart.tsx
  src/components/ui/sidebar.tsx
  src/hooks/useGame.ts
  src/lib/gameService.ts
  src/pages/Game.tsx
  tests/e2e/home.spec.ts
Due: eslint, prettier, typescript

feat: comprehensive auto-fixing approach for Python linting - Backend 100% clean
  backend/.flake8
  backend/app/routers/challenges.py
  backend/app/routers/game_stats.py
  backend/app/routers/notifications.py
  backend/app/schemas/game_stats.py
  backend/app/services/firebase_service.py
  backend/app/services/game_stats_service.py
  backend/create_test_challenges.py
  backend/create_test_challenges_api.py
  backend/import_test_challenges.py
Due: none

feat: add Firebase credentials support for CI pipeline - Pydantic V2 migration complete
  .github/workflows/ci.yml
  backend/.env.test
  backend/app/core/config.py
  backend/app/routers/challenges.py
  backend/app/routers/game_stats.py
  backend/app/routers/notifications.py
  backend/app/schemas/challenge.py
  backend/app/schemas/game_stats.py
  backend/app/schemas/notification.py
  backend/app/schemas/user.py
  backend/app/services/firebase_service.py
  backend/app/services/game_stats_service.py
  backend/create_test_challenges.py
  backend/create_test_challenges_api.py
  backend/import_test_challenges.py
  backend/main.py
  backend/pytest.ini
  backend/tests/unit/test_firebase_service.py
  backend/tests/unit/test_game_stats.py
Due: none

feat: add comprehensive ESLint configuration - bypassing pre-commit for now
  .eslintrc.json
  backend/requirements.txt
  backend/tests/unit/test_challenge_validation.py
  package-lock.json
  package.json
  src/components/CreateChallengeModal.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
Due: eslint, prettier, typescript

feat: update ESLint rules for unused variables
  .eslintrc.json
Due: prettier

fix: update CI workflow to run on all branches - resolves feature branch CI issues
  .github/workflows/ci.yml
Due: none

fix: resolve ESLint configuration conflicts - update eslint.config.js to use warnings for unused vars and remove conflicting .eslintrc.json
  .eslintrc.json
  eslint.config.js
Due: eslint, prettier

fix: resolve ESLint configuration conflicts - disable base no-unused-vars rule to prevent duplicate errors
  eslint.config.js
Due: eslint, prettier

fix: resolve backend unit test failures - fix schema validation issues and Firebase service tests
  backend/tests/unit/test_challenge_validation.py
  backend/tests/unit/test_firebase_service.py
  backend/tests/unit/test_game_stats.py
Due: none

fix: resolve CI pipeline failures - backend and frontend test fixes
  backend/app/services/firebase_service.py
  backend/tests/unit/test_game_stats.py
  documentation/team.md
  src/test/components/NavBar.test.tsx
  src/test/game-service.test.ts
Due: eslint, prettier, typescript

feat: implement real-time features with WebSocket and FCM
  backend/app/routers/challenges.py
  backend/app/routers/websocket.py
  backend/main.py
  env.example
  public/firebase-messaging-sw.js
  src/App.tsx
  src/components/NavBar.tsx
  src/contexts/NotificationContext.tsx
  src/hooks/useGame.ts
  src/hooks/useWebSocket.ts
  src/lib/api.ts
  src/lib/fcm.ts
  src/lib/websocket.ts
  src/test/realtime.test.ts
Due: eslint, prettier, typescript

feat: implement comprehensive E2E testing with Playwright
  playwright.config.ts
  src/components/CreateChallengeModal.tsx
  src/components/NavBar.tsx
  src/components/auth/AuthModal.tsx
  src/components/auth/LoginForm.tsx
  src/pages/Game.tsx
  src/pages/Index.tsx
  tests/e2e/auth.spec.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/fixtures/test-users.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/pages/GamePage.ts
  tests/e2e/performance.spec.ts
  tests/e2e/ui-features.spec.ts
  tests/e2e/utils/auth-helpers.ts
Due: eslint, prettier, typescript

feat: add comprehensive Makefile and development scripts
  .githooks/pre-commit
  Makefile
  README.md
  scripts/dev.sh
Due: prettier

fix: use python3 instead of python in Makefile and dev script
  Makefile
  scripts/dev.sh
Due: none

feat: dockerize local development and add health check E2E test
  Dockerfile.frontend.dev
  Makefile
  docker-compose.yml
  documentation/TASKS.md
  tests/e2e/health-check.spec.ts
Due: eslint, prettier, typescript

fix: correct Docker port mapping and Node.js version for frontend
  Dockerfile.frontend.dev
  docker-compose.yml
Due: none

fix: add localhost:5173 to CORS allowed origins
  backend/app/core/config.py
Due: none

docs: update TASKS.md with current GitHub issues status
  documentation/TASKS.md
Due: prettier

docs: add three new issues to TASKS.md
  documentation/TASKS.md
Due: prettier

fix: resolve CI pipeline failures - backend and frontend tests
  backend/app/services/firebase_service.py
  backend/tests/unit/test_game_stats.py
  documentation/team.md
  src/test/components/NavBar.test.tsx
  src/test/game-service.test.ts
Due: eslint, prettier, typescript

✅ Implement Challenge Management Enhancement (#8)
  backend/app/routers/challenges.py
  backend/app/routers/friends.py
  backend/app/schemas/__init__.py
  backend/app/schemas/challenge.py
  backend/app/services/friends_service.py
  backend/main.py
  src/components/CreateChallengeModal.tsx
  src/hooks/useFriendsApi.ts
  src/hooks/useGame.ts
  src/lib/api.ts
  src/lib/friendsApiService.ts
  src/lib/gameService.ts
  src/types/firebase.ts
  src/types/friends.ts
Due: eslint, prettier, typescript

Update documentation and configuration files
  FIREBASE_PRODUCTION_SETUP.md
  FIREBASE_SETUP.md
  FIREBASE_SETUP_COMPLETE.md
  backend/TEST_CHALLENGES.md
  backend/TEST_USERS.md
  env.example
  setup-firebase.sh
Due: prettier

Implement complete friends feature and fix import errors
  src/hooks/useGame.tsx
  src/lib/fcm.ts
  src/pages/Game.tsx
Due: eslint, prettier, typescript

Update TASKS.md to reflect friends feature completion
  documentation/TASKS.md
Due: prettier

Add new issue #38 for Add Friend Button Enhancement
  documentation/TASKS.md
Due: prettier

✅ Complete Add Friend Button Enhancement - Closes #38
  src/components/friends/AddFriendButton.tsx
  src/components/friends/AddFriendModal.tsx
  src/components/friends/__tests__/AddFriendButton.test.tsx
  src/components/friends/__tests__/AddFriendModal.test.tsx
  src/hooks/useDebounce.ts
  src/pages/Game.tsx
  tests/e2e/friends-search.spec.ts
Due: eslint, prettier, typescript

🎯 Merge Add Friend Button Enhancement (#38)
  src/components/friends/AddFriendButton.tsx
  src/components/friends/AddFriendModal.tsx
  src/components/friends/__tests__/AddFriendButton.test.tsx
  src/components/friends/__tests__/AddFriendModal.test.tsx
  src/hooks/useDebounce.ts
  src/pages/Game.tsx
  tests/e2e/friends-search.spec.ts
Due: eslint, prettier, typescript

🐛 Fix friends API paths and add E2E tests
  src/lib/friendsApiService.ts
  tests/e2e/friends-complete-flow.spec.ts
  tests/e2e/friends-flow.spec.ts
Due: eslint, prettier, typescript

🔍 Fix friends search functionality
  backend/app/routers/friends.py
  backend/app/services/friends_service.py
  src/lib/friendsApiService.ts
  src/types/firebase.ts
Due: eslint, prettier, typescript

🔧 Standardize user schema across all users
  backend/standardize_user_schema.py
  backend/standardize_users_final.py
  tests/e2e/friends-complete-flow.spec.ts
Due: eslint, prettier, typescript

✅ Implement Unique User IDs and QR Code Friend Request System - Closes #40
  backend/app/core/auth.py
  backend/app/routers/friends.py
  backend/app/schemas/friends.py
  backend/app/schemas/user.py
  backend/app/services/friends_service.py
  backend/app/services/unique_id_service.py
  backend/migrate_unique_ids.py
  backend/standardize_user_schema.py
  documentation/TASKS.md
  firestore.indexes.json
  package-lock.json
  package.json
  src/components/friends/AddFriendModal.tsx
  src/components/profile/QRCodeDisplay.tsx
  src/components/profile/QRCodeScanner.tsx
  src/components/profile/UniqueIdDisplay.tsx
  src/components/profile/__tests__/UniqueIdDisplay.test.tsx
  src/components/profile/index.ts
  src/hooks/useFriendsApi.ts
  src/hooks/useUniqueId.ts
  src/lib/__tests__/uniqueIdApiService.test.ts
  src/lib/uniqueIdApiService.ts
Due: eslint, prettier, typescript

✅ Implement Unique User IDs and QR Code Friend Request System (#41)
  backend/app/core/auth.py
  backend/app/routers/friends.py
  backend/app/schemas/friends.py
  backend/app/schemas/user.py
  backend/app/services/friends_service.py
  backend/app/services/unique_id_service.py
  backend/migrate_unique_ids.py
  backend/standardize_users_final.py
  documentation/TASKS.md
  firestore.indexes.json
  package-lock.json
  package.json
  src/components/friends/AddFriendModal.tsx
  src/components/profile/QRCodeDisplay.tsx
  src/components/profile/QRCodeScanner.tsx
  src/components/profile/UniqueIdDisplay.tsx
  src/components/profile/__tests__/UniqueIdDisplay.test.tsx
  src/components/profile/index.ts
  src/hooks/useFriendsApi.ts
  src/hooks/useUniqueId.ts
  src/lib/__tests__/uniqueIdApiService.test.ts
  src/lib/friendsApiService.ts
  src/lib/uniqueIdApiService.ts
  src/types/firebase.ts
  tests/e2e/friends-complete-flow.spec.ts
  tests/e2e/friends-flow.spec.ts
Due: eslint, prettier, typescript

📋 Update TASKS.md - Mark Issue #40 as COMPLETED
  documentation/TASKS.md
Due: prettier

🧪 Implement Comprehensive E2E Testing with Playwright (#32)
  playwright.config.ts
  src/components/CreateChallengeModal.tsx
  src/components/NavBar.tsx
  src/components/auth/AuthModal.tsx
  src/components/auth/LoginForm.tsx
  src/pages/Game.tsx
  src/pages/Index.tsx
  tests/e2e/auth.spec.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/fixtures/test-users.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/pages/GamePage.ts
  tests/e2e/performance.spec.ts
  tests/e2e/ui-features.spec.ts
  tests/e2e/utils/auth-helpers.ts
Due: eslint, prettier, typescript

🔒 Remove search option from AddFriendModal - Security Enhancement
  src/components/friends/AddFriendModal.tsx
Due: eslint, prettier, typescript

✨ Add Unique ID and QR Code Display to Settings
  src/pages/Game.tsx
Due: eslint, prettier, typescript

🔧 Fix QR code import error
  src/components/profile/QRCodeDisplay.tsx
Due: eslint, prettier, typescript

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: ^(node_modules/|dist/|build/)
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^(node_modules/|dist/|build/|package-lock\.json)
  typescript: any of: \.(ts|tsx)$, but not: ^(node_modules/|dist/|build/)
